
/*VARIABLES GENERALES*/
:root{
    --gray-strong: #838383;
    --gray-medium: #D9D9D9;
    --verde-medium: #49BC54;
    --black-light: #0f0f0f;
}


/*CONFIGURACIONES GENERALES*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*CABECERA*/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.8em;
}
.header_logo_img{
    width: 80px;
    height: auto;
}
.header i{
    font-size: 1.5em;
    color: var(--gray-medium);
}

/*BARRA DE NAVEGACION*/
.nav-bar{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: 90%;    
    background-color: #fff;    
    display: block;
    text-transform: uppercase;
    padding: 0.5em 2em;   
    transform: translateX(0px); 
    transition: all 0.4s ease-out;
}
.nav-bar ul {
    margin-top: 3em;
}

.nav-bar-hide{
    transform: translateX(100vw); 
    transition: all 0.4s ease-out;
}

.btn-cerrar{
    position: relative;
    top: 20px;
    left: 90%;
    background-color: var(--verde-medium);
    color: #fff;
    padding: 0.8em 1em;
    border-radius: 50%;
}

.nav-bar_desplegable_icon-rotated{
    transform: rotate(45deg);
    transition: height 0.4s ease-out;
}

.nav-bar_desplegable{
    display: flex;
    justify-content: space-between;
}

.nav-bar_desplegable_cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px ;
    margin: 0;
}

.nav-bar_sabores_desplegable{    
    /*display: block;        */
    height: 120px;    
    overflow: hidden;
    padding-left: 2em;
    padding-top: 0px;
    font-size: 0.9em;
    transition: height 0.4s ease-out;
}

.nav-bar_desplegable__link{
    display: block;
    padding: 0.5em;
    color: var(--black-light);
    font-weight: 700;  
}

.nav-bar_sabores_desplegable ul {
    margin-top: 0;
}

.nav-bar_sabores_desplegable li {
    list-style: none;
    margin-bottom: 1em;

}
.nav-bar_sabores_desplegable_hide {
    /*display: none;    */
    height: 0px;
    transition: all 0.4s ease-out;
}

.nav-bar>ul>li{
    list-style: none;
    border-bottom: solid var(--gray-medium) 2px;
    padding-bottom: 0.6em;
    margin: 0.8em 0em;
}
.nav-bar li:nth-last-child(1),
.nav-bar li:nth-last-child(2){
    border: none;
}
.nav-bar_desplegable_icon{
    font-size: 1.8em;
    cursor: pointer;
    color: var(--verde-medium);
    transition: all 0.4s ease-out;

}
.nav-bar__link{
    color: var(--black-light);
    font-weight: 700;    
}
.nav-bar_social i{
    font-size: 1.6em;
    margin-right: 0.8em;
}

.selected {
    color: var(--verde-medium)
}

/*Hero image con slideshow*/
.hero-slideshow{
    height: 300px;
    /*
    background: url(./imgs/pexels-roman-odintsov-5060297.jpg);    
    background-size: cover;
    background-position: center;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    padding: 1em ;
}
.dots-container{
    color: white;
}
.dots-container i{
    padding: 0 0.3em;
    font-size: 0.8em;
}


/*SABORES MODULO*/
.sabores-modulo{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    overflow: hidden;   
    width: 100%;
    max-width: 496px;
    min-width: 360px;
    height: 260px;
    border: #49BC54 solid 1px;
}

.sabores-modulo_titulo{
    color: var(--gray-strong);
    font-weight: 300;
}

.sabores_slideshow{
    display: flex;
    flex-direction: row;  
    justify-items: left;  
    align-items: center;  
    border: rebeccapurple solid 1px;
    height: 80%;    
}
.sabores_slideshow i{
    font-size: 2em;
    color: var(--gray-strong); 
    padding: 0 0.4em 1.2em 0.4em ;
}
.sabores_categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

.sabores_categoria_circulo{
    text-align: center;
}
.sabores_categoria_imagen{    
    width: 70%;
}

.sabores_categoria_titulo{
    margin-top: 1em;
    color: var(--gray-strong);
}
.sabores_slideshow_navegacion{
    position: absolute;    
    top: 0px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;  
    height: 100%;      
    color: var(--gray-medium);
    font-size: 1em;    
    z-index: 30;
    border: solid black 1px;  
}
.sabores_slideshow_navegacion>.dots-container{
    color: var(--gray-medium);  
    border: solid black 1px;  
    width: 100%;    
    text-align: center;
    height: 2.2em;
    align-self: flex-end;
}
.sabores_slideshow_navegacion>i{
    font-size: 2em;
    border: solid black 1px;
    color: #CDCDCD;
    height: 0.8em;
}

summary {
 display: block;
 cursor: pointer;
}

.submenu_contenedor{
    padding-top: 0.5em;
    padding-left: 1em;
}
.submenu_contenedor li {
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

/*segundo ejemplo de slider con touch*/

img {
    width: 100%;
    height: auto;
  }


/*Empieza el slider
*/
.container-slider {
    width: 100%;
    min-width: 300px; 
    max-width: 600px;
    margin: auto;
    overflow: hidden;  
    position: relative;
  }
  .slider {
    display: flex;
    width: 400%;
    height: 300px;
    position: relative;
  }
  .slider__section {
    width: 100%;  
  } 
  .slider__section__content{
   position: absolute; 
   padding: 0.4em 0.5em;
   font-size: 2em;
   width: 100%;
   height: 100%;
   background-color: rgba(100, 100, 100, 0.2);
   color: #ddd;
  }

  .slider__section__content__titulo{
    word-wrap: break-word;
  }

  .slider__section__content__enlace{
    background-color: #49BC54;
    color: #222;
    margin-top: 4em;
    padding: 0.4em 0.6em;       
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.6em;
    box-shadow: 6px 5px 8px 4px rgba(0,0,0,0.3);    
  }


  .slider__img {
    display: block; 
    object-fit: cover;
    width: 100%; height: 100%;
  }
  .slider__btn {
    position: absolute;
    padding:  0 0.3em;
    /*height: 100%;*/
    /*background: rgba(255, 255, 255, 1);  */
    color: rgba(221, 221, 221, 0.8);    
    top: 50%;
    transform: translateY(-48px);
    font-size: 6em;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .slider__btn:hover { 
    /*background: rgba(0, 0, 0, 0.2);  */
  }
  .slider__btn--left{ 
    left: 0px;
  } .slider__btn--right { 
    right: 0px;
  }
  .dots {
    position: absolute;
    bottom: 20px;            
    left: calc(50% - 120px);
    width: 240px;
    z-index: 1;    
    color: rgba(221, 221, 221, 0.9); 
    /*background: rgba(0, 0, 0, 0.2);   */
    padding: 0.2em 1em; 
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    cursor: pointer;
  }
  /*Termina el slider
  */



.cards_slider__container{
    position: relative;    
    height: 300px;
    width: 80%;    
    min-width: 360px;
    margin: 0 auto;   
}

.cards_slider{    
    width: 100%;    
    border: solid 1px #49BC54;   
    padding: 1.4em 1em;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
}

.cards_slider__card{
    width: 28%;  
    max-width: 180px;  
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-between;
    border: #838383 1px solid;
    padding: 0em 1em 1em 1em;    
}

.cards_slider__card__paragraph{
    text-align: center;
}
.cards_navegation{
    position: absolute;        
    bottom: 30px;
    font-size: 1.2em;
    left: 0;    
    width: 100%;   
    height: 90%; 
    padding: 0em 0.6em;
    border: solid 1px #49BC54; 
    display: flex;
    flex-direction: row;    
    justify-content: space-between;  
    align-items: center;  
    color: #838383;
}

.cards_navegation>*{
    border: solid 1px #49BC54; 
}
.cards_navegation_dots{
    font-size: 0.8em;
    align-self: flex-end;
}
.cards_navegation_arrow{
    font-size: 2.2em;    
    cursor: pointer;
}


